<!DOCTYPE html>
<html ng-app="toDoList" lang="pt-br">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>DOit</title>
<!-- Bootstrap CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<div class="container" ng-controller="ToDoController" id="wrap">
		<div class="page-header">
			<h1>
				DOit <small>Lista de tarefas.</small>
			</h1>
		</div>
		<div class="row">
			
			
			
			<div class="col-md-9">
					<h3>Aumente sua lista de TODO's</h3>
					<br>
				<form class="form-inline">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Nova tarefa"
							ng-model="newToDo" ng-model-instant> <span
							class="input-group-btn">
							<button type="submit" class="btn btn-primary"
								ng-click="addToDo()">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
			<br>
			<div class="col-md-3">
				<div class="pull-right action-buttons">
					<div class="btn-group">
						<button type="button" class="btn btn-danger" ng-click="clear()">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							Limpar
						</button>
						<button type="button" class="btn btn-danger dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span> <span class="sr-only">Toggle
								Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li><a href ng-click="clearCompleted();">Limpar apenas
									completas</a></li>
						</ul>
					</div>
				</div>
			</div>



		</div>
		<br>
		<div class="row">
			<div class="col-md-8">
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" 
  role="progressbar" aria-valuenow="{{getPercentage()}}" aria-valuemin="0" 
  aria-valuemax="100" ng-style="{width : ( completedPerCent() + '%' ) }">Progresso({{completedPerCent()}}%)</div>
				</div>
				<ul class="list-group checked-list-box">
					<li class="list-group-item" ng-repeat="toDo in toDos">
						<div class="checkbox">
							<label> <input type="checkbox" ng-model="toDo.completed">
								{{toDo.name}} <span ng-show="toDo.completed"
								class="label label-success">Completo</span>
							</label>
							<div class="pull-right action-buttons">
								<a href ng-click="removeToDo($index);"> <span
									class="glyphicon glyphicon-trash"></span>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<p>
					Organize e gerencie suas tarefas e compromissos com <strong
						class="badge">DOit</strong> e tenha um feedback instantâneo do seu
					progresso.
				</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="container">
			<p class="muted credit">
				Made with <i class="glyphicon glyphicon-heart"></i> and a lot of
				effort by <a href="https://github.com/jhonatanbds">Jhonatan
					Batista</a>. <em class="pull-right">Application made for SI 1 -
					Lab 02 at UFCG</em>
			</p>
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
